*{
    padding:0px;
    margin:0px;
}
html, body{
    width:100%;
    height:100%;
    overflow:hidden;
}
.header{
    width:100%;
    height:56px;
}
.route{
    width:100%;
    height:calc(100% - 56px);
}
.navbar-brand{
    padding-left:10px;
}